main {
  height: 35em;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 5em;
}

#mainTitle {
  font-weight: 800;
  line-height: 2;
  color: darkgreen;
}

#mainPhoto {
  background-size: cover;
}