#alert {
  margin-left: 17.8vw;
  margin-right: 10vw;
  margin-bottom: 0;
}

main {
  height: 90vh;
  /* background-position: cover; */
}

#mainTitle {
  font-weight: 700;
  font-size: 5vw;
  line-height: 1.5;
  color: #1b681b;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
}

#mainPhoto {
  background-size: cover;
  background-repeat: no-repeat;
}

#padding-25vh {
  padding-top: 25vh;
}

#go-button {
  margin-right: 30px;
  background-color: #3aa83a;
  border-color: #ced4da;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: large;
  padding-left: 40px;
  padding-right: 40px;
}

#inputGroup-sizing-lg {
  margin-left: 30px;
}

#homeForm {
  padding-bottom: 4vh;
}

#searchElements {
  margin-left: 10vh;
  margin-right: 10vh;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
}

#searchTextField {
  width: 350px;
}

#tagline {
  font-family: 'Courgette', cursive;
  color: #d8655d;
  margin-bottom: 3vh;
}
