main {
  height: 35em;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 5em;
}

#mainTitle {
  font-weight: 800;
  line-height: 2;
  color: darkgreen;
}

#mainPhoto {
  background-size: cover;
}

#go-button {
  margin-right: 30px;
  background-color: #3aa83a;
  border-color: darkgreen;
  font-size: large;
  padding-left: 40px;
  padding-right: 40px;
}

#inputGroup-sizing-lg {
  border-left-width: 30px;
  border-left-color: #c5d9e3;
}
