#navbar {
  background-color: #bd5851;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

#navbar-link1 {
  color: #d5cdcd;
  float: left;
  border-style: groove;
}

#navbar-link2 {
  color: #d5cdcd;
  float: right;
  border-style: groove;
  margin-left: 5px;
}

#navButton {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #eceef1;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#navButton:hover {
  background-color: rgba(218, 204, 204, 0.2);
  border-bottom: 0.7vh solid #f2d5d5;
  color: white;
  padding-bottom: 2.3vh;
}

#navButtonActive {
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 0.7vh solid #f2d5d5;
  color: white;
  padding-top: 3vh;
  padding-bottom: 2.3vh;

}

#navButtonActive:hover {
  background-color: rgba(218, 204, 204, 0.2);
}

.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: none;

}

.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.form-control {
  width: 350px;
}

#tableDiv {
  /* background-color: #f2efef; */
  padding-left: 0px;
}

#table {
  background-color: whitesmoke;
}

#tableCell {
  padding: 10px
}

#navTextField {
  width: 30vw;
}

#sub-btn {
  /* background-color: white; */
  /* border-color: #359135; */
  border: 1px solid #eceef1;
  /* border-left: none; */
  font-size: large;
  /* border-radius: 20px; */
  /* padding: 8px 8px 2px; */
  color: #eceef1;
}

#sub-btn:hover {
  background-color: white;
  color: #bd5851;
}

/* ffe484 */