#navbar {
  background-color: #bd5851;
  padding-top: 0;
  padding-bottom: 0;
}

#navbar-link1 {
  color: #d5cdcd;
  float: left;
  border-style: groove;
}

#navbar-link2 {
  color: #d5cdcd;
  float: right;
  border-style: groove;
  margin-left: 5px;
}

#navButton {
  border: none;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-radius: 0;
}


.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: none;

}

.btn.focus, .btn:focus{
  outline: none;
  box-shadow: none;

}

button:focus{
  outline: none;
}

.form-control {
  width: 350px;
}

#tableDiv {
  /* background-color: #f2efef; */
  padding-left: 0px;
}

#table {
  background-color: whitesmoke;
}

#tableCell {
  padding: 10px
}

#navTextField {
  width: 30vw;
}

#sub-btn {
  background-color: #3aa83a;
  border-color: #359135;
  border-left: none;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
  font-size: large;
}




