/* .form-group {
  display: inline;
}

.form-control {
  display: inline;
  width: 30%;
} */

#navbar {
  background-color: #023b02;
  padding-top: 16px;
  padding-bottom: 16px;
}

#navbar-link {
  color: #d5cdcd;
  float: left;
  border-style: groove;
}

#navbar-link2 {
  color: #d5cdcd;
  float: right;
  border-style: groove;
  margin-left: 5px;
}

